doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/styles/custom.css')
  title Galaxy Cinema
header.site-header
  #header-wrap
    .container
      .row
        .col.d-flex.align-items-center.justify-content-between
          a.navbar-brand.text-dark.h2.mb-0(href='/')
            img(src='/images/logo.png' width='300' alt='logo')
          nav.navbar.navbar-expand-lg.navbar-light.ml-auto
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='#') Trang chủ
                li.nav-item
                  a.nav-link.active(href='#') Phim
                li.nav-item
                  a.nav-link(href='#') Rạp/Giá vé
                li.nav-item
                  a.nav-link(href='#') Thành viên
          a.btn.btn-primary.ml-5.d-none.d-lg-block(href='#')
            | Đăng nhập &nbsp
            i.fa.fa-sign-in(aria-hidden='true')
block content
// Optional JavaScript
script(src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js')
script(src='/js/plugin.js')
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
