extends ../layouts/common

block content
    section.position-relative
        #particles-js
            canvas.particles-js-canvas-el(width='1898' height='315' style='width: 100%; height: 100%;')
        .container
            .row.text-center
                .col
                    h1 Thông tin phim
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb.justify-content-center.bg-transparent.p-0.m-0
                            li.breadcrumb-item
                                a.text-dark(href='#') Trang chủ
                            li.breadcrumb-item Phim
                            li.breadcrumb-item.active.text-primary Đặt vé xem phim
    section
        .container
            .row
                .col-md-6
                    img.img-fluid(src='/images/movie-tickets.svg' alt='movie ticket icon')
                .col-md-6.align-self-center.text-center.mt-5.mt-md-0
                    h2.text-success.mb-4 Đặt vé thành công
                    .text-success
                        i.fa.fa-check-circle.fa-5x(aria-hidden='true')
                    p.mt-4
                        | Cảm ơn bạn đã đặt vé tại rạp phim Galaxy Cinema của chúng tôi. Chúc
                        | bạn có một buổi xem phim vui vẻ. Đây là mã vé của bạn:
                    p.text-danger.mb-4 DSGBKDSGU44534524
                    a.btn.btn-primary.mt-2(href='/') Về trang chủ
