body {
  font-family: "Roboto", sans-serif;
}

h1,
.h2 {
  font-weight: 300;
  line-height: 1.5;
}

a,
.btn,
#header-wrap {
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
}

p,
.par {
  color: #8090b5;
  line-height: 1.7;
}

section {
  padding: 5rem 0;
}

.navbar-brand {
  font-size: 2rem;
}

.fixed-header {
  padding: 5px 0;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999 !important;
  background: #ffffff !important;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.15) !important;
}

.btn-primary {
  background-color: #1360ef;
  border-color: #1360ef;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.text-primary,
.link-title:hover {
  color: #1360ef !important;
}

.navbar-nav .nav-link {
  font-weight: 500;
}

header .navbar-nav .nav-item {
  margin: 0 15px;
}

#header-wrap {
  padding: 10px 0;
  position: relative;
}

.btn {
  font-weight: 500;
  padding: 0.75rem 1rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f94f15;
  border-color: #f94f15;
}

.link-title {
  color: #1d1d33;
}

.rounded {
  border-radius: 0.5rem !important;
}

.hover-translate {
  transition: all 0.5s ease-in-out 0s;
}

.hover-translate:hover {
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.15);
  transform: translate(0, -20px);
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page-link {
  padding: 0;
}

.page-item a.page-link {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
}

.page-item a.page-link:hover {
  background-color: #c1e7ff;
}

.page-item.active .page-link:hover {
  background-color: #007bff;
}

.table td,
.table th {
  padding: 0.5rem 1.75rem;
  padding-left: 0;
}

.text-warning {
  color: #fe7900 !important;
}

.bg-warning {
  background-color: #fe7900 !important;
}

.nav-tabs .nav-item.nav-link {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  color: #1d1d33;
  margin: 0 5px;
  border-radius: 0.25rem;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.15) !important;
}

.box-shadow {
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.15) !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  background: #1360ef;
  color: #ffffff;
}

.mb-6 {
  margin-bottom: 5rem;
}

.seat {
  display: block;
  margin-right: 3.75rem;
  position: relative;
  cursor: pointer;
}

.seat input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 50px;
  background-color: #eee;
  border-radius: 0.25rem 0.25rem 1.25rem 1.25rem;
}

/* On mouse-over, add a grey background color */
.seat:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.seat input:checked ~ .checkmark {
  background-color: #1360ef;
}

.seat input:disabled ~ .checkmark {
  background-color: #fe7900;
}

.form-control {
  height: 3rem;
  font-size: 0.8rem;
}

.user-avt {
  width: 300px;
  height: 450px;
  object-fit: contain;
}

.update-profile {
  position: absolute;
  top: 0;
  right: 0;
}

.badge-primary-soft {
  background-color: rgba(19, 96, 239, 0.1);
  color: #1360ef;
}

.bg-orange {
  background-color: #f94f15 !important;
}

.font-size-normal {
  font-size: 1rem;
}

.video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translateX(-50%) translateY(-50%);
}

.video-link {
  color: #eee;
}

.video-link:hover {
  color: #64e9ee;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.btn-outline-primary {
  color: #1360ef;
  border-color: #1360ef;
}

.btn-outline-primary:hover {
  background-color: #f94f15;
  border-color: #f94f15;
}

.nav-0 {
  color: #1d1d33;
}

.nav-0:hover {
  color: #fff;
  background-color: #007bff;
}

.h6 {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  /* The container */
  .seat {
    margin-right: 1.65rem;
  }

  /* Create a custom radio button */
  .checkmark {
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .seat input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .seat .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    justify-content: flex-end;
    width: 100%;
    position: relative !important;
  }

  .navbar-brand {
    left: 15px;
    z-index: 1;
    margin-right: 0;
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
  }

  .navbar-collapse {
    border-radius: 7px;
    background: #ffffff;
    max-height: 400px;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 99;
    top: 50px;
    width: 100%;
    overflow: auto;
    border: medium none;
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.15);
  }
}
